################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/vmd.vcxproj.user
/.vs
/vmd.sln
/vmd.vcxproj
/vmd.vcxproj.filters
/x64/Debug
